/* VARIABLES  */

:root {
    /* screen sizes */
    --Mobile-size: 375px;
    --Desktop-size: 1440px;

    /* primary Colors */
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);

    /* neutral Colors */
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
    
    /* Typography */
    /* Font */
    --Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans);
    --Weights: 500,800;
    --Font-size-paragraph: 16px;
}

/* general styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-light-grayish-blue);
    font-family: sans-serif;
}

.container {
    width: 80%;
    background-color: var(--White);
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.notification-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.notification-container p {
    font-weight: bold;
}

.notification-container p span {
    background-color: var(--Blue);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--White);
    font-size: 12px;
    border-radius: 5px;
}

.notification-container button {
    border: none;
    background-color: transparent;
    color: var(--Grayish-blue);
    cursor: pointer;
}

.notification-contents {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.notification-contents .sub-content {
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: var(--Light-grayish-blue-1);
    transition: all .6s ease-in-out;
    margin-bottom: 10px;
}

.notification-contents .sub-content img {
    width: 40px;
    height: 40px;
}

.notification-contents .rizky img {
    margin-bottom: 75px;
    width: 40px;
    height: 40px;
}

.notification-contents .read {
    background-color: transparent;
    display: flex;
}

.notification-contents .sub-content .main-content {
    display: flex;
    flex-flow: column;
}

.notification-contents .sub-content .main-content p {
    font-size: 11.5px;
    color: var(--Grayish-blue);
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
    flex-flow: wrap;
}

.notification-contents .sub-content .main-content p b {
    color: black;
}

.notification-contents .sub-content .main-content p b:hover {
    color: var(--Blue);
    cursor: pointer;
}

.notification-contents .sub-content .main-content p .main-not:hover {
    color: var(--Blue);
    cursor: pointer;
}

.notification-contents .sub-content .main-content .main-not {
    color: var(--Dark-grayish-blue);
    font-weight: bold;
    position: relative;
}

.notification-contents .sub-content .main-content .chess-pic img {
    width: 35px;
    height: 35px;
    margin-left: 107px;
    margin-bottom: -20px;
}

.notification-contents .sub-content .main-content .chess {
    color: var(--Blue);
}

.notification-contents .sub-content .main-content .message {
    margin-top: 10px;
    border: 1px solid var(--Light-grayish-blue-1);
    padding: 10px;
}

.notification-contents .sub-content .main-content .message:hover {
    background-color: var(--Light-grayish-blue-1);
    cursor: pointer;
}

.notification-contents .sub-content .main-content .name ::before {
    content: '';
    background-color: var(--Red);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 40%;
    right: -20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .8s ease-in-out;
}

.notification-contents .sub-content .main-content .not ::before {
    display: none;
    transition: all .8s ease-in-out;
}

@media (max-width: 500px) {
    body {
        padding: 20px;
    }
    .container {
        width: 80%;
        background-color: var(--White);
        width: 400px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .notification-contents .sub-content .main-content .chess-pic img {
        width: 35px;
        height: 35px;
        margin-left: 11px;
        margin-bottom: -20px;
    }
}

@media (max-width: 400px) {
    body {
        padding: 20px;
    }

    .container {
        width: 80%;
        background-color: var(--White);
        width: 350px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .notification-contents .sub-content .main-content .chess-pic img {
        width: 35px;
        height: 35px;
        margin-left: 11px;
        margin-bottom: -20px;
    }
}

@media (max-width: 350px) {
    body {
        padding: 10px;
    }

    .container {
        width: 80%;
        background-color: var(--White);
        width: 300px;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 200px;
    }

    .notification-contents .sub-content .main-content .chess-pic img {
        width: 35px;
        height: 35px;
        margin-left: 11px;
        margin-bottom: -20px;
    }
}
